//file: _contact.scss
/* ========== contacto ========== */

.cont-main {
    width: 100%;
    background: #ccc;
    height: 1%;
    display: block;
    width: 860px;
    padding: 48px 0 108px;
    margin: 0 auto;
}
.cont-top__header {
    margin: 0 auto 24px;
    display: block;
    text-align: center;
    font-family: 'Meiryo';
    font-weight: bold;
    font-size: 36px;
    color: #0e438c;
}
.cont-index {
    display: flex; 
    flex-direction: column;
    align-items: center;
    background: #FFF;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.25);
    border: none;
}
.cont-index--form {
    display: block;
    background: #ffffff;
    width: 700px;
    height: 50px;
    margin: 12px auto;
    border: 1px solid #bbbbbb;
    border-radius: 6px;
    position: relative;
    &:first-child{
        margin-top: 24px;
    }
}
.cont-index--form__bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    div:first-child{
        align-self: flex-start;
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
    div:nth-child(2){
        align-self: flex-start;
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
    div:nth-last-child(2){
        height: 273px;
        margin-top: 12px;
        margin-bottom: 12px;
    }
}
.cont-index--form__input {
    width: 700px;
    height: 50px;
    padding: 0 0 0 20px;
    border-radius: 6px;
    font-size: 20px;
    font-family: Arial, Verdana, sans-serif;
    color: #585858;
    text-align: left;
    display: block;
    box-sizing: border-box;
    outline: none;
}
.cont-index--form__checkbox{
    margin-bottom: 4px;
    margin-left: 8px;
    width: 15px;
    height: 15px;
}
.cont-index--form__checkbox__label{
    display: inline;
    border-radius: 6px;
    font-size: 20px;
    font-family: Arial, Verdana, sans-serif;
    line-height: 50px;
    color: #585858;
    text-align: left;
    box-sizing: border-box;
    outline: none;
}
.cont-index--form__textarea{
    padding: 0 20px;
    width: 700px;
    height: 273px;
    border-radius: 6px;
    border: 1px solid #bbbbbb;
    box-sizing: border-box;
    resize: none;
    font-size: 20px;
    font-family: Arial, Verdana, sans-serif;
    text-align: left;
    line-height: 50px;
    color: #585858;
}
.cont-index--form__submit{
    width: 82px;
    height: 40px;
    background: #d9d9d9;
    border: none;
    border-radius: 6px;
    font-family: 'Noto Sans';
    font-size: 18px;
    font-weight: bold;
    margin: 12px 0 24px;
    color: #363636;
    transition: all 200ms linear;
    &:hover{
        cursor:pointer;
        background-color: #adadad;
    }
}

@media (max-width: 891px){
    .cont-main{
        min-width: 200px;
        max-width: 828px;
        width: auto;
        div {
            margin-left: 16px;
            margin-right: 16px;
        }
    }
    .cont-top__header{
        min-width: 200px;
        max-width: 800px;
        width: auto;
        word-break: normal;
        word-wrap: break-word;
    }
    .cont-index {
        min-width: 168px;
        max-width: 828px;
        width: auto;
    }
    .cont-index--form{
        min-width: 168px;
        max-width: 700px;
        width: 90%;
        margin: 12px 5%;
    }
    .cont-index--form__bottom {
        div:first-child{
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
        }
        div:nth-child(2){
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
        }
        div:nth-last-child(2){
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
        }
    }
    .cont-index--form__input{
        min-width: 100px;
        max-width: 700px;
        width: 100%;
    }
    .cont-index--form__textarea{
        min-width: 100px;
        max-width: 700px;
        width: 100%;
        word-break: normal;
        word-wrap: break-word;
    }
    .cont-index--form__checkbox__label{
        word-break: normal;
        word-wrap: break-word;
    }
}

/* ========== /contacto ========== */