//file: _contact.scss
/* ========== contacto ========== */

.cont-main {
    @include size(100%,1%);
    background: #ccc;
    display: block;
    width: 860px;
    padding: 48px 0 108px;
    margin: 0 auto;
}
.cont-top__header {
    margin: 0 auto 24px;
    display: block;
    text-align: center;
    font-family: 'Meiryo';
    font-weight: bold;
    font-size: 36px;
    color: #0e438c;
}
.cont-index {
    @include flexColumn-Center;
    background: #FFF;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.25);
    border: none;
}
.cont-index--form {
    display: block;
    background: #ffffff;
    @include size(700px,50px);
    margin: 12px auto;
    border: 1px solid #bbbbbb;
    border-radius: 6px;
    position: relative;
    &:first-child{
        margin-top: 24px;
    }
}
.cont-index--form__bottom{
    @include flexColumn-Center;
    width: 100%;
    div:first-child{
        align-self: flex-start;
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
    div:nth-child(2){
        align-self: flex-start;
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
    div:nth-last-child(2){
        height: 273px;
        margin-top: 12px;
        margin-bottom: 12px;
    }
}
.cont-index--form__input {
    @include size(700px,50px);
    padding: 0 0 0 20px;
    border-radius: 6px;
    font-size: 20px;
    font-family: Arial, Verdana, sans-serif;
    color: #585858;
    text-align: left;
    display: block;
    box-sizing: border-box;
    outline: none;
}
.cont-index--form__checkbox{
    margin-bottom: 4px;
    margin-left: 8px;
    @include size(15px,15px);
}
.cont-index--form__checkbox__label{
    display: inline;
    border-radius: 6px;
    font-size: 20px;
    font-family: Arial, Verdana, sans-serif;
    line-height: 50px;
    color: #585858;
    text-align: left;
    box-sizing: border-box;
    outline: none;
}
.cont-index--form__textarea{
    padding: 0 20px;
    @include size(700px,273px);
    border-radius: 6px;
    border: 1px solid #bbbbbb;
    box-sizing: border-box;
    resize: none;
    font-size: 20px;
    font-family: Arial, Verdana, sans-serif;
    text-align: left;
    line-height: 50px;
    color: #585858;
}
.cont-index--form__submit{
    @include size(82px,40px);
    background: #d9d9d9;
    border: none;
    border-radius: 6px;
    font-family: 'Noto Sans';
    font-size: 18px;
    font-weight: bold;
    margin: 12px 0 24px;
    color: #363636;
    @include transitionLin;
    &:hover{
        cursor:pointer;
        background-color: #adadad;
    }
}

@media (max-width: 891px){
    .cont-main{
        @include minmaxWidth(200px,828px,auto);
        div {
            margin-left: 16px;
            margin-right: 16px;
        }
    }
    .cont-top__header{
        @include minmaxWidth(200px,800px,auto);
        word-break: normal;
        word-wrap: break-word;
    }
    .cont-index {
        @include minmaxWidth(168px,828px,auto);
    }
    .cont-index--form{
        @include minmaxWidth(168px,700px,90%);
        margin: 12px 5%;
    }
    .cont-index--form__bottom {
        div:first-child{
            @include w90-5-5;
        }
        div:nth-child(2){
            @include w90-5-5;
        }
        div:nth-last-child(2){
            @include w90-5-5;
        }
    }
    .cont-index--form__input{
        @include minmaxWidth(100px,700px,100%);
    }
    .cont-index--form__textarea{
        @include minmaxWidth(100px,700px,100%);
        @include wordBreak;
    }
    .cont-index--form__checkbox__label{
        @include wordBreak;
    }
}

/* ========== /contacto ========== */