//file: _footer.scss
/* ========== footer ========== */
.footer{
    display: grid;
    grid-template-areas:
        "text text text"
        ". media .";
    grid-template-rows: 25px 75px;
    grid-template-columns: 5fr 134fr 5fr;
    justify-items: center;
    align-items: center;
    background-color: #272830C0;
}
.text{
    grid-area: text;
    font-family: "Jupiter Pro";
    color: #FFF;
    font-size: 16px;
    line-height: 25px;
}
.media{
    grid-area: media;
    display:flex;
    align-items: center;
    justify-content: space-around;
    @include size(100%,75px);
    padding-left: 0px;
    text-align: center;
    div{
        a{
            img{
                @include size(48px,48px);
                @include transitionCubic;
                &:hover{
                    @include size(64px,64px);
                }
            }
        }
    }
}
/* ========== /footer ========== */