//file: _story.scss
/* ========== /historia ========== */

/* --- Background para la pág --- */
body#story{
    background-color: #000;
}

/* --- Definición del estilo de la fuente --- */
.story{ 
    font-family: "Noto Serif";
    font-size: 24px;
    font-weight: normal;
    line-height: 1.5;
    color: #fff;
    text-shadow: 0px 0px 4px #132326, 0px 0px 4px #132326;
    /* --- Limitación de los bloques --- */
    div{ 
        height: 1080px;
        &:last-child{
            div{
                div{
                    div{
                        div.two{
                            align-self: flex-start;
                        }
                    }
                }
            }
        }
    }
}
/* --- Ordenamiento de las posiciones de las imagenes --- */
.story__bg{ 
    position:absolute;
    @include size(100%,1080px);
    z-index: -1;
    img{
        @include size(100%,100%);
        object-fit: cover;
    }
}
.story__title{
    position:absolute;
    margin-right: 18px;
    padding-left: 18px;
    padding-top: 18px;
    z-index: 1;
}

/* --- Justificación del texto y los botones --- */
.story__detail{
    @include flexColumnEnd;
    @include size(auto,1080px);
    position: relative;
    padding: 0 18px;
    p{
        line-height: 1;
        font-size: 18px;
        padding-bottom: 16px;
    }
    div{
        @include flexColumnCenterCenter;
        flex-wrap: wrap;
        @include size(90%,80px);
        padding-left: 0;
        div{
            a {
                font-size: 0px;
                img{
                    @include size(64px,auto);
                }
            }
        }
        div.one{
            height: 100%;
            a {
                font-size: 0px;
                img {
                    @include size(400px,80px);
                }
            }
        }
        div.two {
            @include size(64px,64px);
            align-self: flex-start;
        }
    }
}
@media (max-width: 831px){
    .story {
        div{
            height: fit-content;
        }
    }
    .story__bg{ 
        position:relative;
        @include size(100%,auto);
        z-index: 0;
    }
    .story__detail {
        @include size(95%,auto);
        @include flexColumnEnd;
        flex-wrap: wrap;
        position: relative;
        padding: 0 2.5%;
        h4 {
            width: fit-content;
        }
        p {
            line-height: 1;
            font-size: 18px;
            padding-bottom: 16px;
            max-width: 100%;
        }
        div {
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            div.one {
                justify-content: center;
            }
        }
    }
    #endwalker {
        div.story__detail{
            div{
                margin-bottom: 18px;
            }
        }
    }
}
@media (max-width: 475px){
    .story__detail > div {
        @include flexColumn-Center;
        flex-wrap: nowrap;
        @include size(100%,auto);
        padding-left: 0;
    }
}
/* ========== /historia ========== */